{
  "image_configuration": {
    "dither_algorithm": "2",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "alpha_dither": "yes",
    "images": {
      "base_screen.png": {
        "format": "RGB565"
      },
      "battery_0.png": {
        "format": "RGB565"
      },
      "battery_1.png": {
        "format": "RGB565"
      },
      "button1_0.png": {
        "format": "RGB565"
      },
      "button1_1.png": {
        "format": "RGB565"
      },
      "button_10.png": {
        "format": "RGB565"
      },
      "button_3.png": {
        "format": "RGB565"
      },
      "button_8.png": {
        "format": "RGB565"
      },
      "button_9.png": {
        "format": "RGB565"
      },
      "carbon_fibre.png": {
        "format": "RGB565"
      },
      "CircleProgress_0.png": {
        "format": "RGB565"
      },
      "CircleProgress_1.png": {
        "format": "RGB565"
      },
      "gauge_1.png": {
        "format": "RGB565"
      },
      "gauge_2.png": {
        "format": "RGB565"
      },
      "gauge_5.png": {
        "format": "RGB565"
      },
      "graph_0.png": {
        "format": "RGB565"
      },
      "groupButton_0.png": {
        "format": "RGB565"
      },
      "HorizontalSlider_0.png": {
        "format": "RGB565"
      },
      "ImageProgress_0.png": {
        "format": "RGB565"
      },
      "ImageProgress_1.png": {
        "format": "RGB565"
      },
      "Indicator_0.png": {
        "format": "RGB565"
      },
      "Indicator_1.png": {
        "format": "RGB565"
      },
      "Indicator_2.png": {
        "format": "RGB565"
      },
      "reserved.png": {
        "format": "RGB565"
      },
      "silde_1.png": {
        "format": "RGB565"
      },
      "silde_2.png": {
        "format": "RGB565"
      },
      "temperature.png": {
        "format": "RGB565"
      },
      "toggleButton_1_0.png": {
        "format": "RGB565"
      },
      "toggleButton_1_1.png": {
        "format": "RGB565"
      },
      "VerticalSlider_0.png": {
        "format": "RGB565"
      },
      "widget-menu_21-01.png": {
        "format": "RGB565"
      },
      "widget-menu_21-02.png": {
        "format": "RGB565"
      }
    }
  }
}